<header class="site-header">
  <div class="container mx-auto flex items-center justify-between py-4">
    <div class="site-logo">
      <a href="{{ shop.url }}">{{ shop.name }}</a>
    </div>
    <nav>
      <a href="/collections/all">Boutique</a>
      <a href="/pages/contact">Contact</a>
    </nav>
  </div>
</header>
